* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #06223b;
    display: flex;
    justify-content: right;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin-right: 40px;
    padding: 20px;
}

nav ul li a {
    margin-left: 25px;
    color: #FFFFFF;
    text-decoration: none;
}

nav li a:hover {
    color: #0190bc;
    transition: .5s;
}

.logout:hover {
    color: #ff0000;
    transition: .5s;
}

main {
    flex: 1;
    background-color: #cecccc;
}

footer {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    background-color: #cecccc;
    margin-top: auto;
}

.generalContainer {
    background-color: #cecccc;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userBg {
    width: 70%;
    display: inline-block;
    overflow: hidden;
}

img {
    height: 100%;
}

.hrLogin {
    margin-top: 6px;
    margin-bottom: 50px;
    width: 72px;
    height: 4px;
    background-color: #000000;
    border-radius: 10px;
}

.hrRegister {
    margin-top: 6px;
    margin-bottom: 50px;
    width: 106px;
    height: 4px;
    background-color: #000000;
    border-radius: 10px;
}

.title {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Segoe UI';
}

#fieldErrorText,
#passwordErrorText {
    font-size: 13px;
    color: #cecccc;
    margin-top: 10px;
    text-align: center;
    visibility: hidden;
}

.text1 {
    font-size: 13px;
    text-align: justify;
    width: 80%;
    margin-bottom: 10px;
}

.text2 {
    font-size: 13px;
    margin-top: 16px;
}

.text3 {
    font-size: 13px;
    margin-top: 4px;
}

.text2 a,
.text3 a {
    color: #167b99;
    text-decoration: none;
}

.text2 a:hover,
.text3 a:hover {
    color: #0190bc;
    text-decoration: underline;
}

.welcomeText {
    font-size: 50px;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-left: 30px;
}

#backButton {
    width: 50px;
    height: 50px;
    background-color: #000000;
    border-radius: 50%;
    margin-top: 30px;
    background-image: url("../assets/backArrow.png");
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center;
}

.loginUserForm {
    margin-top: 9%;
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerUserForm {
    margin-top: 7%;
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 80%;
    align-items: center;
}

.textInput {
    margin-top: 12px;
    padding: 9px;
    border-style: none;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0px 0px 2px #000000;
}

.pcTextInput {
    margin-top: 14px;
    padding: 9px;
    border-style: none;
    border-radius: 15px;
    width: 290px;
    box-shadow: 0px 0px 2px #000000;
}

.pcTextInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.passwordContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.passwordTextInput {
    box-sizing: border-box;
    margin-top: 12px;
    padding: 9px;
    border-style: none;
    border-radius: 15px;
    width: 49%;
    box-shadow: 0px 0px 2px #000000;
}

.textInput:focus,
.passwordTextInput:focus,
.pcTextInput:focus,
select:focus {
    box-shadow: 1px 1px 7px #000000;
    transition: .5s;
    outline: 0;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    margin-top: 12px;
    padding: 9px;
    border-style: none;
    border-radius: 15px;
    width: 290px;
    box-shadow: 0px 0px 2px #000000;
    cursor: pointer;
}

input[type="file"] {
    cursor: pointer;
}

.jpLink {
    text-decoration: none;
}

.blackSubmitBtn {
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
    margin-top: 11px;
    padding: 15px;
    padding-left: 31px;
    padding-right: 31px;
    border-radius: 50px;
    border-style: none;
}

.blackBtn {
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
    margin-top: 11px;
    margin-right: 14px;
    padding: 15px;
    padding-left: 31px;
    padding-right: 31px;
    border-radius: 50px;
    border-style: none;
}

.btnContainer {
    display: flex;
    justify-content: center;
}

.submitRegisterBtn {
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
    padding: 18px;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 14px;
    margin-bottom: 19px;
    border-radius: 50px;
    border-style: none;
}

.submitLoginBtn {
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
    padding: 18px;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 14px;
    margin-bottom: 19px;
    border-radius: 50px;
    border-style: none;
}

.submitRegisterBtn:hover,
.submitLoginBtn:hover,
.blackSubmitBtn:hover,
.blackBtn:hover,
#backButton:hover {
    background-color: #021f3b;
    transition: .8s;
    cursor: pointer;
}

.contentContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.column1 {
    margin-top: 18px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column2 {
    margin-top: 18px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formHr {
    margin-top: 8px;
    width: 72px;
    height: 4px;
    background-color: #000000;
    border-radius: 10px;
}

.productForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table {
    padding: 10px;
    margin-top: 32px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
}

th {
    padding: 8px;
}

td {
    padding-left: 8px;
    padding-bottom: 6px;
}

.delete {
    color: #ff0000;
    text-decoration: none;
    margin-left: 10px;
}

.delete:hover {
    color: #ff0000;
    text-decoration: underline;
}

.edit {
    color: #095ad3;
    text-decoration: none;
    margin-left: 10px;
}

.edit:hover {
    color: #095ad3;
    text-decoration: underline;
}

.devsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.dev {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 100px;
}

.devImg1 {
    width: 400px;
    height: 400px;
    background-image: url("../assets/leochad.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 70%;
    border-width: 4px;
    border-color: #000000;
    border-style: solid;
}

.devImg2 {
    width: 400px;
    height: 400px;
    background-image: url("../assets/luigigigachad.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 70%;
    border-width: 4px;
    border-color: #000000;
    border-style: solid;
}

.devName {
    font-size: 20px;
    margin-top: 14px;
    display: inline-block;
}